$bg-color:#F7F5F9;
$acc-color:#6979F8;
$input-focus-color:#854FC8;
$placeholder-color:#D0C9D6;
$button-text-color:#FFFFFF;

@mixin font-roboto{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.modal{
    margin: 32px auto;
    width:480px;
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
    background-color: $bg-color;
    padding:0.01px;
    overflow: hidden;
    border-radius: 12px;
}

.modal__title{
    @include font-roboto;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    margin-top:40px;
    margin-left:40px;
}

.modal__form{
    @include font-roboto;
    font-size: 15px;
    line-height: 20px;
}

.form__input{
    display: block;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    padding-left:15px;
    width:400px;
    height:48px;
    margin:25px auto;
    border:none;
    border-radius: 6px;
    &:focus{
        outline: 1px solid $input-focus-color;
    }
    &::placeholder{
        color: $placeholder-color;
    }
}

.form__input-invalid{
    outline: 1px solid rgba(220,53,69,1);
    background-color:rgba(220,53,69,0.1);
}

.form__button{
    @include font-roboto;
    display:block;
    background-color: #6979F8;
    width:83.33%;
    height:48px;
    font-size: 17px;
    line-height: 22px;
    text-align:center;
    color:$button-text-color;
    margin:0 auto 40px;
    border-radius: 6px;
    border:none;
}

.status_message{
    @include font-roboto;
    width:360px;
    margin:16px auto;
    text-align: center;
    font-size: 17px;
    line-height: 22px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    padding:16px;
    border-radius:12px;
    opacity:0;
}

.message_intro {
    animation-name: message;
    animation-duration: 7.5s;
}

.message_bad{
    background-color: rgba(220,53,69,0.5);
}

.message_good{
    background-color: rgba(40,167,69, 0.5);
}

@keyframes message {
    0% {
        opacity: 0.1;
    } 
    50% {
        opacity:0.99;
    }  
    100% {
        opacity: 0;
    }
}
